/* -- Header -- */

.section-header {
	width: 100%;
	overflow: hidden;
  min-height: 100vh;
	max-height: 100%;
}

.section-header-image {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
}

@media (max-width: 420px) {
  .section-header-title-xs {
    display: block;
  }
  .section-header-title {
    display: none;
  }
}

.section-header-image img {
	width: 100%;
	display: block;
  height: 110vh;
  object-fit: cover;
  object-position: left;
}
@media (max-width: 420px) {
  .section-header-image img {
    object-position: right;
  }
}

.section-header-inner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
@media (max-width: 420px) {
  .section-header-inner {
    margin: 120px auto;
    padding: 10px;
    color: white !important;
    text-align: center;
  }
}

.section-header-inner .title {
  font-size: 40px;
  font-family: "Montserrat-Medium";
}

.section-head {
  text-align: center;
}

/* -- Header Single -- */

.section-header-single {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
  
  .section-header-single img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
    position: absolute;
  }
  
  .section-header-single .overlay {
    background: rgba(52, 50, 56, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .section-header-single .overlay .header-title,
  .section-header-single .overlay .header-desc {
    color: white;
    width: 100%;
    text-align: center;
    height: auto;
    clear: both;
  }
  
  .section-header-single .overlay .header-title h3 {
    color: white;
    font-size: 37px;
    font-family: "Pacifico";
  }
  
  .section-header-single .overlay .header-desc p {
    color: white;
  }

  /* -- Archive -- */

.section-archive .row {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 420px) {
    .section-archive .row {
      flex-wrap: wrap;
    }
  }
  
  .section-archive .row .content .content-single-title img {
    width: 100%;
    display: block;
  }.section-archive .row .content {
    padding: 0 15px;
  }
  
  
  .section-archive .row .content .content-single-title h3 {
    font-size: 32px;
  }
  
  .section-archive .row .content .content-single-body {
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
  }
  
   
  .section-archive .row .content .content-single-footer{
    padding: 20px 0;
  }
  
  .section-archive .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: 2px solid #eee;
  }
  
  .section-archive .content .col {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  @media (max-width: 420px) {
    .section-archive .content .col {
      flex-wrap: wrap;
    }
  }
  
  .section-archive .content .content-img {
    width: 70%;
    position: relative;
  }
  @media (max-width: 420px) {
    .section-archive .content .content-img {
      width: 100%;
    }
  }
  
  .section-archive .content .content-img img {
    width: 100%;
    display: block;
    height: 260px;
    object-position: center;
    object-fit: cover;
    position: absolute;
  }
  
  .section-archive .content .content-img span {
    color: white;
    background: #ee5253;
    border-radius: 50px;
    position: absolute;
    margin: 20px;
    padding: 8px 30px;
    font-size: 13px;
    font-weight: bold;
  }
  @media (max-width: 420px) {
    .section-archive .content .content-img img {
      position: static;
    }
    .section-archive .content .content-img span {
      display: none;
    }
  }
  
  .section-archive .content .content-desc {
    width: 140%;
    padding: 0 20px;
  }
  @media (max-width: 420px) {
    .section-archive .content .content-desc {
      width: 100%;
      position: static;
      clear: both;
    }
  }

  .animation{
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box{
    width: 250px;

    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}
.box img{
    display: block;
    width:100%;
height: 100%;
    border-radius: 5px;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
  
  
  
 
  
 
   
  
 
  
